// Variables of Gemini scheme
// ==================================================

@import "Pisces.styl";

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color           = #eee;

// Borders.
// --------------------------------------------------
$box-shadow-inner        = 1px 3px 5px 3px rgba(0, 0, 0, .12), 1px 3px 5px 3px rgba(0, 0, 0, .06), 1px 3px 5px 0 rgba(0, 0, 0, .12);
$box-shadow              = 1px 3px 5px 3px rgba(0, 0, 0, .12), 1px 3px 5px 3px rgba(0, 0, 0, .06), 1px 3px 5px 0 rgba(0, 0, 0, .12), 1px 3px 5px 0 rgba(0, 0, 0, .09);

// $border-radius-inner     = initial;
// $border-radius           = initial;
$border-radius-inner     = 0 0 4px 4px;
$border-radius           = 4px;
