@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1585142272548'); /* IE9 */
  src: url('iconfont.eot?t=1585142272548#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABpwAAAJDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBJIETATYCJAMICwYABCAFhG0HNBu9BREF7Mh+FuSm8RopohDqXe5FtV8Tqsa+DxE8rvXOS7LXNFdgBYAS2BEoRCPOVrUSwahPRpck6+rdmo7h3qgI1SU533qW7Ux+dKQ/2JLDaZQBIRGSztAgOVFXoT5x7/RPoA/SeuddbnvSGoO6DxgHFOgeGEVWQCH3GBug3c5jAs1Sm8WR/Ng5VWGvCsRDfeeaWggripirwqDhYBFPdGp6lD54HH0//tkZlaTL7IZTt4/edOAnpyCP+pGLASFCoOMdMjajEOca0ydkIXJZSxcrOVZt8FPfBy5xVLsQ/zq7egZYjIpnUnqqR5VOoFDNduwmtljzHHt7+Wmc9HSs9nnC/GLyG0W2kB3fra4lk/vf7mpTbdfbUWTrJwXTqCQnfd/JHpCjZne/Fkwef54pZ+/5X4cFfPnAriJD3bsn+EvKgWPFUNvOVDRloyfZPlrBe5qGnu2f5wdaFt5SPlQLb8w7zZIMWbWaLOxmdIZ2Y6DajybdpDg+NJ+zFmU6NnoBwhxvJLNMIpvjSxb2h84ifwzMiTWaCzH/wqG1ocVhh3XADpob6JYnct1BxLVblKehdnl1JDii8zoGaZSUcwVO6JbY4s8yC4GAHI+Qw3M4DAyzY4NtiFQI8yaOqelNUcvjQjjMQbUAdUDjBmgtNqFgciAqn99C0smg5jpG6rJHyPH07CAVSQaQhWEaNPIor3hnUiYICCAOG4Ec5qHBgIG5eZ6BWkFETUjONmKHj4Yaou1N49+dgsa2pnB2Ze0Gd0jsWvSLBQA=') format('woff2'),
  url('iconfont.woff?t=1585142272548') format('woff'),
  url('iconfont.ttf?t=1585142272548') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1585142272548#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codeforces:before {
  content: "\e657";
}
